
{% extends "Appfinal/padre.html" %}
{ load static  }


{% block contenido %}
<h1>Acerca de Nosotros</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, <br>
    commodi hic corporis voluptates, exercitationem dolorum alias veniam sit, <br>
    maxime illum animi ipsum aperiam maiores temporibus quo error nihil quasi in. <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, <br>
    commodi hic corporis voluptates, exercitationem dolorum alias veniam sit, <br>
    maxime illum animi ipsum aperiam maiores temporibus quo error nihil quasi in. <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, <br>
    commodi hic corporis voluptates, exercitationem dolorum alias veniam sit, <br>
    maxime illum animi ipsum aperiam maiores temporibus quo error nihil quasi in. <br>
</p>


{% endblock %}