
{% extends "Appfinal/padre.html" %}
{ load static  }


{% block contenido %}
<h1>Nuestros Pantalones</h1>

{% for i in object_list%}
<li>{{ i.tipo }}
</li>
<button><a href="{% url 'Pantalones' i.id %}">Ver Mas</a></button>
<button><a href="{% url 'EditPant' i.id %}">Editar</a></button>
<button><a href="{% url 'DeletePant' i.id %}">Eliminar</a></button>
{% endfor %}
<br><br><br>
<button><a href="{% url 'NewPan'%}">Agregar mas Pantalones</a></button>
<br>

<br>
<button><a href="{% url 'Tienda' %}">Volver</a></button>

{% endblock %}