
{% extends "Appfinal/padre.html" %}
{ load static  }


{% block contenido %}
<h1>Nuestras Remeras</h1>

{% for i in object_list%}
<li>{{ i.tipo }}
</li>
<button><a href="{% url 'Remeras' i.id %}">Ver Mas</a></button>
<button><a href="{% url 'EditRem' i.id %}">Editar</a></button>
<button><a href="{% url 'DeleteRem' i.id %}">Eliminar</a></button>
{% endfor %}
<br><br><br>
<button><a href="{% url 'NewRem'%}">Agregar mas remeras</a></button>
<br>

<br>
<button><a href="{% url 'Tienda' %}">Volver</a></button>
{% endblock %}