{% extends "Appfinal/padre.html" %}
{ load static  }


{% block contenido %}


<h1>Nuestros productos</h1>

{% for i in object_list%}
    <li>{{ i.tipo }}
       
    </li>
    <button><a href="{% url 'Zapatillas' i.id %}"></a>Ver Mas</button>
    <button><a href="{% url 'Botines' i.id %}"></a>Ver Mas</button>
    <button><a href="{% url 'Pantalones' i.id %}"></a>Ver Mas</button>
    <button><a href="{% url 'Accesorios' i.id %}"></a>Ver Mas</button>
    <button><a href="{% url 'Remeras' i.id %}"></a>Ver Mas</button>

    
    

{% endfor %}

{% endblock %}